go 1.23

use (
	.
	./chi
	./echo
	./examples/chi-demo
	./examples/echo-demo
	./examples/gin-demo
	./gin
)

replace (
	github.com/axis-iam/vertex-sdk-go v0.1.1 => .
	github.com/axis-iam/vertex-sdk-go/chi v0.1.1 => ./chi
	github.com/axis-iam/vertex-sdk-go/echo v0.1.1 => ./echo
	github.com/axis-iam/vertex-sdk-go/gin v0.1.1 => ./gin
)
